antlr4-python3-runtime==4.9.3
attrs==22.2.0
aws-cdk.assets==1.192.0
aws-cdk.aws-acmpca==1.192.0
aws-cdk.aws-apigateway==1.192.0
aws-cdk.aws-applicationautoscaling==1.192.0
aws-cdk.aws-autoscaling==1.192.0
aws-cdk.aws-autoscaling-common==1.192.0
aws-cdk.aws-autoscaling-hooktargets==1.192.0
aws-cdk.aws-batch==1.192.0
aws-cdk.aws-certificatemanager==1.192.0
aws-cdk.aws-cloudformation==1.192.0
aws-cdk.aws-cloudfront==1.192.0
aws-cdk.aws-cloudwatch==1.192.0
aws-cdk.aws-codebuild==1.192.0
aws-cdk.aws-codecommit==1.192.0
aws-cdk.aws-codeguruprofiler==1.192.0
aws-cdk.aws-codestarnotifications==1.192.0
aws-cdk.aws-cognito==1.192.0
aws-cdk.aws-dynamodb==1.192.0
aws-cdk.aws-ec2==1.192.0
aws-cdk.aws-ecr==1.192.0
aws-cdk.aws-ecr-assets==1.192.0
aws-cdk.aws-ecs==1.192.0
aws-cdk.aws-efs==1.192.0
aws-cdk.aws-elasticloadbalancing==1.192.0
aws-cdk.aws-elasticloadbalancingv2==1.192.0
aws-cdk.aws-events==1.192.0
aws-cdk.aws-fsx==1.192.0
aws-cdk.aws-globalaccelerator==1.192.0
aws-cdk.aws-iam==1.192.0
aws-cdk.aws-imagebuilder==1.192.0
aws-cdk.aws-kinesis==1.192.0
aws-cdk.aws-kms==1.192.0
aws-cdk.aws-lambda==1.192.0
aws-cdk.aws-logs==1.192.0
aws-cdk.aws-route53==1.192.0
aws-cdk.aws-route53-targets==1.192.0
aws-cdk.aws-s3==1.192.0
aws-cdk.aws-s3-assets==1.192.0
aws-cdk.aws-sam==1.192.0
aws-cdk.aws-secretsmanager==1.192.0
aws-cdk.aws-servicediscovery==1.192.0
aws-cdk.aws-signer==1.192.0
aws-cdk.aws-sns==1.192.0
aws-cdk.aws-sns-subscriptions==1.192.0
aws-cdk.aws-sqs==1.192.0
aws-cdk.aws-ssm==1.192.0
aws-cdk.aws-stepfunctions==1.192.0
aws-cdk.cloud-assembly-schema==1.192.0
aws-cdk.core==1.192.0
aws-cdk.custom-resources==1.192.0
aws-cdk.cx-api==1.192.0
aws-cdk.region-info==1.192.0
aws-parallelcluster==3.4.1
boto3==1.26.69
botocore==1.29.69
cairocffi==1.5.0
CairoSVG==2.7.0
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
clickclick==20.10.2
connexion==2.13.1
constructs==3.4.243
contourpy==1.0.7
cssselect2==0.7.0
cycler==0.11.0
defusedxml==0.7.1
distlib==0.3.6
drawSvg==1.9.0
et-xmlfile==1.1.0
exceptiongroup==1.1.0
fastjsonschema==2.16.3
filelock==3.9.0
Flask==2.2.2
fonttools==4.38.0
fuzzywuzzy==0.18.0
idna==3.4
imageio==2.27.0
imhist==0.0.4
imWatermark==0.0.2
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==0.10.0
jsii==1.74.0
jsonschema==4.17.3
jupyter_core==5.3.0
jupytext==1.14.5
kiwisolver==1.4.4
Levenshtein==0.20.9
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
matplotlib==3.6.3
mdit-py-plugins==0.3.5
mdurl==0.1.2
nbformat==5.8.0
numpy==1.24.2
omegaconf==2.3.0
opencv-python==4.7.0.68
openpyxl==3.0.10
packaging==23.0
pandas==1.5.3
Pillow==9.5.0
platformdirs==3.0.0
protobuf==4.21.12
publication==0.0.3
pycparser==2.21
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-Levenshtein==0.20.9
pytz==2022.7.1
PyYAML==5.4.1
rapidfuzz==2.13.7
requests==2.28.2
s3transfer==0.6.0
six==1.16.0
tabulate==0.8.10
tinycss2==1.2.1
toml==0.10.2
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
traitlets==5.9.0
typeguard==2.13.3
typing_extensions==4.4.0
urllib3==1.26.14
virtualenv==20.19.0
webencodings==0.5.1
Werkzeug==2.2.2
XlsxWriter==3.0.7
